@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  background-color: #f6f6ff;
}

a {
  color: white;
  text-decoration: none;
}

select {
  background-color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 10px;
  outline: none;
  cursor: pointer;
  width: auto;
}

input[type='date'] {
  cursor: pointer;
}

button {
  all: unset;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
  padding: 16px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='date'] {
  all: unset;
  background-color: white;
  border-radius: 30px;
  font-size: 14px;
  padding: 10px 14px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='date']:focus,
textarea:focus,
select:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #0d6efd;
}

::-webkit-input-placeholder {
  color: #6c757d;
}

:-ms-input-placeholder {
  color: #6c757d;
}

::-ms-input-placeholder {
  color: #6c757d;
}

::placeholder {
  color: #6c757d;
}

.container {
  margin: 70px;
}

.container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 30px;
}

.container .title .profile {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .title .profile img {
  border-radius: 50%;
  width: 14%;
}

.container .title .profile .picdtl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

.container .title .profile .picdtl .say {
  color: #6c757d;
  font-size: 18px;
}

.container .title .profile .picdtl .name {
  font-size: 24px;
}

.container .title .profile_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .title .profile_2 .updateProfile {
  background-color: #6610f2;
  margin-right: 20px;
}

.container .title .profile_2 .logout {
  background-color: #dc3545;
}

.container .title .profile_2 .logout img {
  width: 26px;
  margin-right: 6px;
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.container .header .dropdown {
  width: 90%;
}

.container .header .dropdown form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .header .dropdown form .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  width: 30%;
}

.container .header .dropdown form .content label {
  margin-bottom: 10px;
}

.container .header .dropdown form .content label.filter span {
  font-weight: 700;
}

.container .header .dropdown form .content select {
  width: 90%;
}

.container .header .dropdown form .content#btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.container .header .dropdown form .content#btn button {
  width: 80%;
  background-color: #ffc107;
  font-weight: 700;
  border-radius: 30px;
}

.container .header .dropdown form .content#btn button img {
  margin-right: 10px;
}

.container .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .banner .content#notif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

.container .banner .content#notif .content_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.container .banner .content#notif .content_2 label {
  color: #6c757d;
}

.container .banner .content#notif .content_2 label span {
  margin-left: 8px;
  font-weight: 700;
}

.container .banner .searching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.container .banner .searching .searching_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .banner .searching .searching_1 .add,
.container .banner .searching .searching_1 .refresh,
.container .banner .searching .searching_1 .download {
  background-color: #198754;
  padding: 16px 10px;
  margin: 8px 0;
  margin-left: 10px;
}

.container .banner .searching .searching_1 .add img,
.container .banner .searching .searching_1 .refresh img,
.container .banner .searching .searching_1 .download img {
  width: 26px;
  margin-right: 5px;
}

.container .banner .searching .searching_1 .add {
  background-color: #0d6efd;
}

.container .banner .searching .searching_1 .download {
  background-color: #198754;
}

.container .banner .searching .searching_1 .download img {
  width: 26px;
  margin-right: 10px;
}

.container .banner .searching .searching_2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
}

.container .banner .searching .searching_2 input {
  padding-left: 60px;
  width: 100%;
}

.container .banner .searching .searching_2 input:focus {
  outline: none;
}

.container .banner .searching .searching_2 img#search {
  position: absolute;
  width: 30px;
  top: 8px;
  left: 5%;
}

.container .banner .searching .searching_2 img#cancel {
  width: 30px;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 2%;
}

.container .banner .searching .searching_2 img#cancel:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: blur(110%);
          filter: blur(110%);
}

.container .content-table {
  margin-top: 30px;
  overflow: auto;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: white;
  width: 100%;
  display: none;
  max-height: 500px;
}

.container .content-table table {
  border-collapse: collapse;
  text-align: center;
  width: 285%;
  table-layout: auto;
}

.container .content-table table th {
  background-color: #0d6efd;
  color: white;
  font-weight: 700;
  font-size: 16px;
  white-space: wrap;
  padding: 4px 6px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container .content-table table td {
  font-size: 14px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  padding: 0 10px;
}

.container .content-table table td form select,
.container .content-table table td form input[type='date'] {
  background-color: #e9ecef;
  color: black;
}

.container .content-table table td.keterangan {
  max-width: 300px;
}

.container .content-table table td:hover {
  text-overflow: clip;
  white-space: normal;
  word-break: keep-all;
}

.container .content-table table td.aksi div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container .content-table table td.aksi div a {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  font-weight: 700;
  margin: 4px 8px;
}

.container .content-table table td.aksi div a button.update,
.container .content-table table td.aksi div a button.delete {
  all: unset;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fd7e14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content-table table td.aksi div a button.update img,
.container .content-table table td.aksi div a button.delete img {
  width: 20px;
}

.container .content-table table td.aksi div a button.view {
  background-color: #adb5bd;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px;
}

.container .content-table table td.aksi div a button.view img {
  width: 25px;
}

.container .content-table table td.aksi div a button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .content-table table td.aksi div a button.delete {
  background-color: #dc3545;
}

.container .content-table table tr:nth-child(odd) {
  background-color: #f3f3f3;
}

.container .content-table table tr:nth-child(even) {
  background-color: #ffffff;
}

.container .detail {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .detail .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  height: 180px;
  width: 23%;
  border-radius: 32px 4px;
  margin-bottom: 24px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 15px;
}

.container .detail .content a {
  width: 100%;
}

.container .detail .content a ._1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .detail .content a ._1 .num {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ced4da;
}

.container .detail .content a ._1 .num label {
  color: black;
  font-weight: 600;
  font-size: 26px;
}

.container .detail .content a ._1 p {
  color: black;
  font-weight: 700;
  font-size: 16px;
}

.container .detail .content a ._2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .detail .content a ._2 p.text-1 {
  margin-bottom: 14px;
}

.container .detail .content a ._2 p {
  color: #6c757d;
}

.container .detail .content a ._2 p span {
  border-radius: 20px;
  padding: 6px 18px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 6px;
}

.container .detail .content a ._2 img {
  width: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container .detail .content a ._2 img:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container .detail .content:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .detail .content.total a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.container .detail .content.total a ._2 p {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}

@media screen and (max-width: 992px) {
  .container .title .profile {
    width: 50%;
  }
  .container .detail .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 30%;
    margin: 10px;
  }
  .container .searching .searching_2 {
    width: 80% !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 30px;
  }
  .container .title .profile_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .container .title .profile_2 .updateProfile {
    margin: 0;
    margin-bottom: 10px;
  }
  .container .header .dropdown form .content {
    margin: 5px 10px;
    width: 40%;
  }
  .container .header .dropdown form .content select {
    width: 100%;
  }
  .container .header .dropdown form .content#btn {
    margin-top: 20px;
  }
  .container .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .banner .content#notif {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .container .banner .searching {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .banner .searching .searching_1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .banner .searching .searching_2 {
    width: 90% !important;
  }
  .container .detail .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 45%;
    margin: 10px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin: 20px;
  }
  .container .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .title .profile {
    width: 100%;
  }
  .container .title .profile_2 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .title .profile_2 .updateProfile,
  .container .title .profile_2 .logout {
    margin: 0;
    margin: 5px 10px;
  }
  .container .header .dropdown form .content {
    margin: 6px;
    width: 45%;
  }
  .container .header .dropdown form .content#btn {
    width: 100%;
  }
  .container .header .dropdown form .content#btn button {
    width: 100%;
  }
  .container .banner .searching .searching_2 {
    width: 100% !important;
  }
  .container .detail .content {
    max-height: 500px;
    width: 100%;
  }
}
/*# sourceMappingURL=styleDashboard.css.map */